<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- Header con navegaci贸n -->
    <header>
        <nav>
            <h1>Brenton Andony - Portafolio</h1>
            <a href="/">Inicio</a>
            <a href="/proyecto1">Proyecto 1</a>
            <a href="/proyecto2">Proyecto 2</a>
            <a href="/proyecto3">Proyecto 3</a>
            <a href="/proyecto4">Proyecto 4</a>
            <a href="/proyecto5">Proyecto 5</a>
       
        </nav>
    </header>

    <div class="container">
        <div class="columna1">
            <img src="/IMAGENES/yo.jpg" alt="Descripci贸n de la imagen">
            <div class="info-list">
                <div class="info-item">
                    <img src="/IMAGENES/iconyo.png" height="25px" width="25px" alt="Icono Nombre" class="logo">
                    <p class="texto-bajo">Brenton Andony Manuel Par Sohon</p>
                </div>
                <div class="info-item">
                    <img src="/IMAGENES/correo.png" height="25px" width="25px" alt="Icono Correo" class="logo">
                    <p class="texto-bajo">andony71002@gmail.com</p>
                </div>
            </div>
        </div>
        
        <div class="columna2">
            <div class="info-sections">
                <a href="#portafolio" class="seccion">Portafolio</a>
                <a href="#habilidades" class="seccion">Habilidades</a>
                <a href="#contacto" class="seccion">Contacto</a>
                <a href="#info-personal" class="seccion">Informaci贸n Personal</a>
            </div>

            <div class="text-image-container">
                <div class="text-section">
                    <div class="greeting">
                        <span> Hola! Bienvenido a mi Portafolio</span>
                    </div>
                    <h1>Estudiante de <span class="highlight">Ingenier铆a en sistemas y ciencias de la computaci贸n</span> en la universidad <span class="highlight">Mariano Galvez de Guatemala</span> con ganas de m谩s aprendizaje y experiencias</h1>
                    <p>Con casi 2 a帽os de experiencia en el 谩rea de inform谩tica, trabajando con tecnolog铆as y 谩reas como bases de datos, programaci贸n, redes y m谩s.</p>
                </div>
                <div class="image-section">
                    <img src="/IMAGENES/imagenprincipal.png" alt="">
                </div>
            </div>
           
            <!-- Portafolio -->
            <div id="portafolio" class="info-detail">
                <h2>Portafolio</h2>
            </div>
            <div class="static-gallery">
                <div class="static-gallery-item">
                    <a href="index2.html">
                        <img src="/IMAGENES/ajedrez.png" alt="Imagen 1">
                        <p>Juego de ajedrez</p>
                    </a>
                </div>
                <div class="static-gallery-item">
                    <a href="index3.html">
                        <img src="/IMAGENES/Estructuras.png" alt="Imagen 2">
                        <p>Estructuras de datos</p>
                    </a>
                </div>
                <div class="static-gallery-item">
                    <a href="index4.html">
                        <img src="/IMAGENES/compilador.png" alt="Imagen 3">
                        <p>Compilador</p>
                    </a>
                </div>
                <div class="static-gallery-item">
                    <a href="index5.html">
                        <img src="/IMAGENES/infomaquina.png" alt="Imagen 4">
                        <p>Informacion de PC</p>
                    </a>
                </div>
                <div class="static-gallery-item">
                    <a href="index6.html">
                        <img src="/IMAGENES/formulario.jpg" alt="Imagen 4">
                        <p>Formulario para carga de informacio a la IVE</p>
                    </a>
                </div>
            </div>

            <!-- Habilidades -->
            <div id="habilidades" class="info-detail">
                <h2>Habilidades</h2>
            </div>
            <div class="skills-grid">
                <div class="skill-bar">
                    <p>HTML</p>
                    <div class="bar">
                        <div class="progress" style="width: 40%;">40%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>CSS</p>
                    <div class="bar">
                        <div class="progress" style="width: 30%;">30%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>JavaScript</p>
                    <div class="bar">
                        <div class="progress" style="width: 30%;">30%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>Python</p>
                    <div class="bar">
                        <div class="progress" style="width: 45%;">45%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>Java</p>
                    <div class="bar">
                        <div class="progress" style="width: 60%;">60%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>SQL</p>
                    <div class="bar">
                        <div class="progress" style="width: 80%;">80%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>Git</p>
                    <div class="bar">
                        <div class="progress" style="width: 80%;">80%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>React</p>
                    <div class="bar">
                        <div class="progress" style="width: 10%;">10%</div>
                    </div>
                </div>
                <div class="skill-bar">
                    <p>Node.js</p>
                    <div class="bar">
                        <div class="progress" style="width: 10%;">10%</div>
                    </div>
                </div>
            </div>

            <!-- Contacto -->
            <div id="contacto" class="info-detail">
                <h2>Contacto</h2>
                <div class="contacto-container">
                    <div class="contacto-item">
                        <img src="/IMAGENES/email.png" alt="Correo Electr贸nico" class="contacto-icono">
                        <a href="mailto:andony71002@gmail.com">andony71002@gmail.com</a>
                    </div>
                    <div class="contacto-item">
                        <img src="/IMAGENES/smartphone.png" alt="Tel茅fono" class="contacto-icono">
                        <a href="tel:">00000000</a>
                    </div>
                    <div class="contacto-item">
                        <img src="/IMAGENES/github.png" alt="GitHub" class="contacto-icono">
                        <a href="https://github.com/andonyps" target="_blank">github.com/andonyps</a>
                    </div>
                    <div class="contacto-item">
                        <img src="/IMAGENES/linkedin.png" alt="LinkedIn" class="contacto-icono">
                        <a href="https://linkedin.com/in/brenton-andony-par-sohon-50598b323" target="_blank">linkedin.com/in/brenton-andony-par-sohon-50598b323</a>
                    </div>
                    <div class="contacto-item">
                        <img src="/IMAGENES/gorjeo.png" alt="Twitter" class="contacto-icono">
                        <a href="https://twitter.com/AndonyPar4552" target="_blank">@AndonyPar4552</a>
                    </div>
                </div>
            </div>

            <!-- Informaci贸n Personal -->
            <div id="info-personal" class="info-detail">
                <h2>Informaci贸n Personal</h2>
                <div class="personal-info-container">
                    <div class="personal-info-item">
                        <span class="personal-info-label">Nombre Completo:</span>
                        <span class="personal-info-value">Brenton Andony Manuel Par Sohon</span>
                    </div>
                    <div class="personal-info-item">
                        <span class="personal-info-label">Fecha de Nacimiento:</span>
                        <span class="personal-info-value">17 de octubre 2002</span>
                    </div>
                    <div class="personal-info-item">
                        <span class="personal-info-label">Direcci贸n:</span>
                        <span class="personal-info-value">Guatemala, Guatemala</span>
                    </div>
                    <div class="personal-info-item">
                        <span class="personal-info-label">Estado Civil:</span>
                        <span class="personal-info-value">Soltero</span>
                    </div>
                    <div class="personal-info-item">
                        <span class="personal-info-label">Nacionalidad:</span>
                        <span class="personal-info-value">Guatemalteco</span>
                    </div>
                </div>

                <h2>Estudios Acad茅micos</h2>
                <div class="education-container">
                    <div class="education-item">
                        <span class="education-label">Licenciatura en Ingenier铆a en Sistemas y Ciencias de la Computaci贸n:</span>
                        <span class="education-value">Universidad Mariano G谩lvez de Guatemala, 2021 - Presente</span>
                    </div>
                    <div class="education-item">
                        <span class="education-label">Perito Contador con Orientaci贸n en Computaci贸n:</span>
                        <span class="education-value">Instituto de Ciencias Comerciales ICCAS, 2018 - 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; Brenton Andony - Portafolio 2024</p>
    </footer>
</body>
</html>
