<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de Proyecto - Información de la Máquina</title>
     <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/documentacion.css">
</head>
<body>
    <!-- Header con navegación -->
    <header>
        <nav>
            <h1>Brenton Andony - Portafolio</h1>
            <a href="/">Inicio</a>
            <a href="/proyecto1">Proyecto 1</a>
            <a href="/proyecto2">Proyecto 2</a>
            <a href="/proyecto3">Proyecto 3</a>
            <a href="/proyecto4">Proyecto 4</a>
            <a href="/proyecto5">Proyecto 5</a>
    
        </nav>
    </header>

    <!-- Sección del proyecto -->
    <div class="project-container">
        <h1>Información de la Máquina</h1>
        <div class="project-image">
            <img src="/IMAGENES/infomaquina.png" alt="Imagen del Proyecto">
        </div>
        <div class="project-description">
            <p>Este programa permite visualizar información del sistema operativo, hardware, software instalado y procesos en ejecución. Incluye monitoreo de CPU y memoria, y funcionalidades como pausar procesos o visualizar conexiones de red con Netstat.</p>
        </div>
        <div class="project-link">
            <a href="https://github.com/Andonyps/Infomaquina" target="_blank">Ver en GitHub</a>
        </div>
        <div class="back-button">
            <a href="/">Volver al Portafolio</a>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; Brenton Andony - Portafolio 2024</p>
    </footer>
</body>
</html>

