<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de Proyecto - Formulario para IVE</title>
     <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/documentacion.css">
</head>
<body>
    <!-- Header con navegación -->
    <header>
        <nav>
            <h1>Brenton Andony - Portafolio</h1>
            <a href="/">Inicio</a>
            <a href="/proyecto1">Proyecto 1</a>
            <a href="/proyecto2">Proyecto 2</a>
            <a href="/proyecto3">Proyecto 3</a>
            <a href="/proyecto4">Proyecto 4</a>
            <a href="/proyecto5">Proyecto 5</a>

        </nav>
    </header>

    <!-- Sección del proyecto -->
    <div class="project-container">
        <h1>Formulario para carga de información a la IVE</h1>
        <div class="project-image">
            <img src="/IMAGENES/formulario.jpg" alt="Imagen del Proyecto">
        </div>
        <div class="project-description">
            <p>En este proyecto se desarrolló un formulario para capturar información sobre transacciones, descargándola en un archivo de texto plano con delimitadores para su reporte. Está realizado con HTML, CSS y JavaScript.</p>
        </div>
        <div class="project-link">
            <a href="" target="_blank">Aún no se cuenta con repositorio</a>
        </div>
        <div class="back-button">
            <a href="/">Volver al Portafolio</a>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; Brenton Andony - Portafolio 2024</p>
    </footer>
    </body>
</html>

