<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 4 Programa Interbloqueo</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/styleproject.css">
</head>
<body>
    <header>
        <nav>
            <h1>Elián Jairo Uzías Pérez Rosales</h1>
       <a href="/">Inicio</a>
            <a href="/proyecto1">Proyecto 1</a>
            <a href="/proyecto2">Proyecto 2</a>
            <a href="/proyecto3">Proyecto 3</a>
            <a href="/proyecto4">Proyecto 4</a>
            <a href="/proyecto5">Proyecto 5</a>
            <a href="/proyecto6">Proyecto 6</a>
            <a href="/proyecto7">Proyecto 7</a>
        </nav>
    </header>

    <section id="proyecto">
        <button class="btn-home"><a href="index.html">Inicio</a></button>
        <h1>Proyecto 4 Programa Interbloqueo</h1>
        <p>Este proyecto consiste en el desarrollo de un programa en C# que gestiona el interbloqueo de procesos, permite la pausa y detención de procesos activos, y proporciona información sobre las redes activas en el sistema. El objetivo principal es crear una herramienta robusta para la administración y el monitoreo de procesos en un entorno de Windows, así como para la supervisión de la actividad de red.
            <br><br>El programa proporciona una solución completa para la gestión de interbloqueo, control de procesos, y monitorización de redes en sistemas Windows. Con una interfaz de usuario clara y funcionalidades robustas, el software facilita la administración eficiente de los recursos del sistema y ofrece herramientas valiosas para la supervisión de la actividad de red y procesos.
          </p>
        <img src="./imagenes/proy4 interbloqueo.jpg" alt="Programa Interbloqueo">
    </section>

    <button class="btn-home"><a href="https://www.youtube.com/watch?v=9kIvVj6AThk">Video de referencia</a></button> 

    <footer>
        <p>&copy; PORTAFOLIO 2024</p>
    </footer>
</body>
</html>
